# =====================
# Node / Dependencies
# =====================
node_modules/


# =====================
# Playwright outputs
# =====================
playwright-report/
test-results/
blob-report/
playwright/.cache/

# =====================
# Cucumber Reports
# =====================
reports/
cucumber-report.html
cucumber-report.json

# =====================
# Traces & Artifacts
# =====================
reports/traces/
**/*.zip

# =====================
# Screenshots
# =====================
screenshots/

# =====================
# Environment variables
# =====================
.env

# =====================
# OS / Editor files
# =====================
.DS_Store
Thumbs.db
.idea/
.vscode/
